---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/images/search?count=10&imageType=Photo&q=denver,%20co&safeSearch=Strict&size=Large
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - IMAGE_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6749F5D9DB064F8AB8F7F9CFC9808B70
      X-Msedge-Clientid:
      - 1B8618A1E876633F0519174FE93A625D
      X-Msapi-Userstate:
      - c20e
      X-Search-Responseinfo:
      - InternalResponseTime=217,MSDatacenter=CO4
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=denver, co", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=denver,
        co&FORM=OIIARP", "queryContext": {"originalQuery": "denver, co", "alterationDisplayQuery":
        "denver colorado", "alterationOverrideQuery": "+denver, co", "alterationMethod":
        "AM_JustChangeIt", "alterationType": "CombinedAlterationsChained"}, "totalEstimatedMatches":
        100, "nextOffset": 11, "currentOffset": 0, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=denver%2c+co&id=B45EAB6FD39660E9815013EEE0578B3D57D0A123&simid=608007395163440711",
        "name": "Denver - Bright Pink", "thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?id=OIP.f5xOi9PTZPogE6pZ3W0oqAHaE5&pid=Api",
        "datePublished": "2019-06-27T00:33:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/www.brightpink.org\/wp-content\/uploads\/2015\/03\/4280266430_f5a5279dfe_z.jpg",
        "hostPageUrl": "https:\/\/www.brightpink.org\/communities\/denver\/", "contentSize":
        "1006302 B", "encodingFormat": "jpeg", "hostPageDisplayUrl": "https:\/\/www.brightpink.org\/communities\/denver",
        "width": 4272, "height": 2828, "hostPageFavIconUrl": "https:\/\/www.bing.com\/th?id=ODF.rUuDCRLYgUfvz2DV2V-2GQ&pid=Api",
        "hostPageDomainFriendlyName": "Bright Pink", "hostPageDiscoveredDate": "2015-04-20T00:00:00.0000000Z",
        "thumbnail": {"width": 474, "height": 313}, "imageInsightsToken": "ccid_f5xOi9PT*cp_1338B5BB017A8155A7CD3BB2896129F2*mid_B45EAB6FD39660E9815013EEE0578B3D57D0A123*simid_608007395163440711*thid_OIP.f5xOi9PTZPogE6pZ3W0oqAHaE5",
        "insightsMetadata": {"recipeSourcesCount": 0, "pagesIncludingCount": 135,
        "availableSizesCount": 75}, "imageId": "B45EAB6FD39660E9815013EEE0578B3D57D0A123",
        "accentColor": "0177CA"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=denver%2c+co&id=31C07636473917F1828B133C3F284BF81A43408E&simid=608010393147215750",
        "name": "5 - Things to See and Do in Denver, Colorado USA - NationalPedia",
        "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.QpoAvSb4IyjNJBMgcAULNgHaEm&pid=Api",
        "datePublished": "2019-12-22T03:36:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "http:\/\/www.nationalpedia.co[...]
