---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/images/search?count=10&imageType=Photo&q=denver,co&safeSearch=Strict&size=Large
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - IMAGE_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 23F93359F4FE4D9387C5915AE33A7B00
      X-Msedge-Clientid:
      - 2380B11EE7AB6CE2055FBEADE6E76D85
      X-Msapi-Userstate:
      - d75b
      X-Search-Responseinfo:
      - InternalResponseTime=128,MSDatacenter=CO4
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "https:\/\/api.bing.microsoft.com\/api\/v7\/images\/search?q=denver,co",
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=denver,co&FORM=OIIARP",
        "queryContext": {"originalQuery": "denver,co", "alterationDisplayQuery": "\"denver
        co\"", "alterationOverrideQuery": "+denver,co", "alterationMethod": "AM_ChangeItWithRecourse",
        "alterationType": "CombinedAlterationsChained"}, "totalEstimatedMatches":
        100, "nextOffset": 10, "currentOffset": 0, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=denver%2cco&id=B4D0C0CA7EB0ED62932C1609E472EE6E0866090B&simid=608015422315956011",
        "name": "File:Downtown Denver, CO.jpg", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.HsCcIr9dcK-6ArqP48oIUAHaE8&pid=Api",
        "datePublished": "2013-05-23T12:00:00.0000000Z", "isFamilyFriendly": true,
        "creativeCommons": "AttributionShareAlike", "contentUrl": "http:\/\/upload.wikimedia.org\/wikipedia\/commons\/8\/81\/Downtown_Denver,_CO.jpg",
        "hostPageUrl": "http:\/\/commons.wikimedia.org\/wiki\/File:Downtown_Denver,_CO.jpg",
        "contentSize": "3791691 B", "encodingFormat": "jpeg", "hostPageDisplayUrl":
        "commons.wikimedia.org\/wiki\/File:Downtown_Denver,_CO.jpg", "width": 4272,
        "height": 2848, "hostPageFavIconUrl": "https:\/\/www.bing.com\/th?id=ODF.1o0VEMY44vl8mbrZx0rT3A&pid=Api",
        "hostPageDomainFriendlyName": "Wikimedia", "hostPageDiscoveredDate": "2013-05-23T12:00:00.0000000Z",
        "thumbnail": {"width": 474, "height": 316}, "imageInsightsToken": "ccid_HsCcIr9d*cp_EDAC9161457136F8D58ED8F69C61FA90*mid_B4D0C0CA7EB0ED62932C1609E472EE6E0866090B*simid_608015422315956011*thid_OIP.HsCcIr9dcK-6ArqP48oIUAHaE8",
        "insightsMetadata": {"recipeSourcesCount": 0, "pagesIncludingCount": 4, "availableSizesCount":
        4}, "imageId": "B4D0C0CA7EB0ED62932C1609E472EE6E0866090B", "accentColor":
        "4D647B"}, {"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=denver%2cco&id=EFC74D5EFBC14FDF5388DD0CADBD523B5198CAF2&simid=608054283119693252",
        "name": "Django Girls Denver, CO #2", "thumbnailUrl": "https:\/\/tse3.mm.bing.net\/th?id=OIP.xig337_KouGN49_68H9aMQHaCt&pid=Api",
        "datePublished": "2020-01-07T07:56:00.0000000Z", "isFamilyFriendly": true,
        "contentUrl": "https:\/\/djangogirls.org\/uploads\/event\/cities\/BackstretchSkylin[...]
