---
http_interactions:
- request:
    method: get
    uri: https://pixabay.com/api/?image_type=photo&key=IMAGE_API_KEY&orientation=horizontal&q=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '0.72'
      Allow:
      - POST, OPTIONS, GET
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"total":66,"totalHits":66,"hits":[{"id":2617524,"pageURL":"https://pixabay.com/photos/larimer-lodo-denver-colorado-2617524/","type":"photo","tags":"larimer,
        lodo, denver","previewURL":"https://cdn.pixabay.com/photo/2017/08/10/03/04/larimer-2617524_150.jpg","previewWidth":150,"previewHeight":99,"webformatURL":"https://pixabay.com/get/54e6d4444f50a814f1dc846096293f771336d6e5524c704f752b72d7944ec258_640.jpg","webformatWidth":640,"webformatHeight":426,"largeImageURL":"https://pixabay.com/get/54e6d4444f50a814f6da8c7dda7936761c39d7ed53506c48732f7fdd944ec65fb8_1280.jpg","imageWidth":2760,"imageHeight":1840,"imageSize":2357829,"views":10948,"downloads":4719,"favorites":52,"likes":46,"comments":3,"user_id":1139623,"user":"quinntheislander","userImageURL":"https://cdn.pixabay.com/user/2017/08/02/07-08-01-965_250x250.png"},{"id":2228783,"pageURL":"https://pixabay.com/photos/denver-colorado-mountains-city-2228783/","type":"photo","tags":"denver,
        colorado, mountains","previewURL":"https://cdn.pixabay.com/photo/2017/04/13/21/54/denver-2228783_150.jpg","previewWidth":150,"previewHeight":112,"webformatURL":"https://pixabay.com/get/54e2d74b4d5aaf14f1dc846096293f771336d6e5524c704f752b72d7944ec258_640.jpg","webformatWidth":640,"webformatHeight":48[...]
