---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=MAP_API_KEY&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Sat, 02 Jan 2021 02:08:39 GMT
=======
      - Sat, 02 Jan 2021 02:46:32 GMT
>>>>>>> 5b6f0f3f9f2069f39a40144254d36f073bae779f
      Content-Type:
      - application/json;charset=UTF-8
      Content-Length:
      - '1734'
      Access-Control-Allow-Methods:
      - OPTIONS,GET,POST
      Access-Control-Allow-Origin:
      - "*"
      Cache-Control:
      - no-cache, must-revalidate
      Expires:
      - Mon, 20 Dec 1998 01:00:00 GMT
      Geocodetransactioncount:
      - '1'
      Last-Modified:
<<<<<<< HEAD
      - Sat, 02 Jan 2021 02:08:39 GMT
=======
      - Sat, 02 Jan 2021 02:46:32 GMT
>>>>>>> 5b6f0f3f9f2069f39a40144254d36f073bae779f
      Pragma:
      - no-cache
      Reversegeocodetransactioncount:
      - '0'
      Server:
      - Apache-Coyote/1.1
      Set-Cookie:
<<<<<<< HEAD
      - JSESSIONID=34F562054D6DEB1060FB70DF729A29C1; Path=/; HttpOnly; Secure
=======
      - JSESSIONID=CDC4FA7B198769263C1ADBE6C252B9E2; Path=/; HttpOnly; Secure
>>>>>>> 5b6f0f3f9f2069f39a40144254d36f073bae779f
      Status:
      - success
      Transactionweight:
      - '1.0'
      Strict-Transport-Security:
      - max-age=0
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
<<<<<<< HEAD
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAP_API_KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1118815067"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAP_API_KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1728630785"}]}]}'
  recorded_at: Sat, 02 Jan 2021 02:08:39 GMT
=======
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAP_API_KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-509854958"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAP_API_KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-1346803988"}]}]}'
  recorded_at: Sat, 02 Jan 2021 02:46:32 GMT
>>>>>>> 5b6f0f3f9f2069f39a40144254d36f073bae779f
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_API_KEY&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Sat, 02 Jan 2021 02:08:40 GMT
      Content-Type:
      - application/json; charset=utf-8
      Content-Length:
      - '15930'
=======
      - Sat, 02 Jan 2021 02:46:33 GMT
      Content-Type:
      - application/json; charset=utf-8
      Content-Length:
      - '15916'
>>>>>>> 5b6f0f3f9f2069f39a40144254d36f073bae779f
      Connection:
      - keep-alive
      X-Cache-Key:
      - "/data/2.5/onecall?exclude=minutely&lat=39.74&lon=-104.98&units=imperial"
      Access-Control-Allow-Origin:
      - "*"
      Access-Control-Allow-Credentials:
      - 'true'
      Access-Control-Allow-Methods:
      - GET, POST
    body:
      encoding: UTF-8
<<<<<<< HEAD
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1609553320,"sunrise":1609510861,"sunset":1609544761,"temp":29.59,"feels_like":20.71,"pressure":1019,"humidity":68,"dew_point":21.38,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":6.93,"wind_deg":110,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1609552800,"temp":29.59,"feels_like":24.17,"pressure":1019,"humidity":68,"dew_point":21.38,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":0.81,"wind_deg":162,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1609556400,"temp":30.94,"feels_like":25.65,"pressure":1022,"humidity":78,"dew_point":25.59,"uvi":0,"clouds":20,"visibility":10000,"wind_speed":1.43,"wind_deg":150,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1609560000,"temp":31.64,"feels_like":26.33,"pressure":1024,"humidity":83,"dew_point":27.61,"uvi":0,"clouds":9,"visibility":10000,"wind_speed":1.92,"wind_deg":182,"weather":[{"id":800,"main":"Clear","description":"clear
       [...]
