---
http_interactions:
- request:
    method: get
    uri: https://www.hikingproject.com/data/get-trails?key=200545096-5f955e77feb9332b7dc97751e8ac525e&lat=39.738453&lon=-104.984853&maxDistance=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ap-Request-Id:
      - fcd7dc2c-987f-4c16-a3b5-42275881e2dd
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "trails": [
                {
                    "id": 7008385,
                    "name": "Highline Canal Trail",
                    "type": "Recommended Route",
                    "summary": "Widely recognized as one of the best urban trails in the country.",
                    "difficulty": "green",
                    "stars": 4.5,
                    "starVotes": 14,
                    "location": "Roxborough Park, Colorado",
                    "url": "https:\/\/www.hikingproject.com\/trail\/7008385\/highline-canal-trail",
                    "imgSqSmall": "https:\/\/cdn2.apstatic.com\/photos\/hike\/7007020_sqsmall_1554321989.jpg",
                    "imgSmall": "https:\/\/cdn2.apstatic.com\/photos\/hike\/7007020_small_1554321989.jpg",
                    "imgSmallMed": "https:\/\/cdn2.apstatic.com\/photos\/hike\/7007020_smallMed_1554321989.jpg",
                    "imgMedium": "https:\/\/cdn2.apstatic.com\/photos\/hike\/7007020_medium_1554321989.jpg",
                    "length": 61.3,
                    "ascent": 369,
                    "descent": -468,
                    "high": 5549,
                    "low": 5435,
                    "longitude": -105.0908,
                    "latitude": 39.487,
                    "conditionStatus": "Unknown",
                    "conditionDetails": null,
                    "conditionDate": "1970-01-01 00:00:00"
                },
                {
                    "id": 7003386,
                    "name": "Green Mountain Tour",
                    "type": "Recommended Route",
                    "summary": "A good hike with easy Front Range access.  Some steep climbs, rocks and nice views.",
                    "difficulty": "blue",
                    "stars": 3.8,
                    "starVotes": 28,
                    "location": "West Pleasant View, Colorado",
          [...]
